{
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-console": 0,
    "no-confusing-arrow": 0,
    "no-restricted-syntax": 0,
    "no-bitwise": 0,
    "no-nested-ternary": 0,
    "no-await-in-loop": 0
  }
}
